<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/projcetpost/tests/Unit" />
        <option value="$PROJECT_DIR$/projcetpost/tests/Feature" />
        <option value="$PROJECT_DIR$/BTVN(7-12)/tests/Unit" />
        <option value="$PROJECT_DIR$/BTVN(7-12)/tests/Feature" />
        <option value="$PROJECT_DIR$/BTVN(11-12)/demolaravel/tests/Unit" />
        <option value="$PROJECT_DIR$/BTVN(11-12)/demolaravel/tests/Feature" />
      </list>
    </option>
  </component>
</project>